[alias]
	aa = add --all :/
	d = diff
	dno = diff --name-only
	ds = diff --staged
	dsno = diff --name-only --staged
	l = log --all --graph --oneline --decorate -n 20
	la = log --all --graph --oneline --decorate
	st = status
	whoami = config user.email
[core]
	pager = cat
[pull]
	ff = only
[push]
	default = upstream
[include]
	path = ~/dotfiles/local/.gitconfig_local