[alias]
	aa = add --all :/
	br = branch
	co = checkout
	cob = checkout -b
	cam = commit --amend --no-edit
	d = diff
	dno = diff --name-only
	ds = diff --staged
	dsno = diff --name-only --staged
	du = diff -U0
	dw = diff -U0 --word-diff
	l = log --all --graph --oneline --decorate -n 5
	la = log --all --graph --oneline --decorate
	st = status
	sw = switch
	swc = switch -c
	p = pull
	pushup = "!git push -u origin $(git branch --show-current)"
	cleanup = "!git fetch -p && git branch -vv | awk '/: gone]/{print $1}' | xargs -I{} git branch -D {}"
	whoami = config user.email
	main = checkout main
	master = checkout master
[core]
	pager = cat
[pull]
	ff = only
[push]
	default = upstream
[include]
	path = ~/dotfiles/_local/.gitconfig_local